auto2to3==0.3
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Assets==0.12
Flask-SQLAlchemy==2.3.2
flickr-api==0.6.1
future==0.16.0
httplib2==0.11.3
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauth2==1.9.0.post1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycparser==2.18
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.5
requests==2.19.1
simplejson==3.16.0
six==1.11.0
SQLAlchemy==1.2.10
twilio==6.15.2
urllib3==1.23
webassets==0.12.1
Werkzeug==0.14.1
