@import '../../node_modules//sweetalert/dev/sweetalert';

$menlo: 'Menlo', sans-serif;
$green: #7FD279;
$hover-green: #6BCC66;
$white: #FFF;
$gray: #A9A9A9;
$light-gray: #CCC;
$yellow: #f0ad4e;
$red: #d9534f;

// *************************** SWEET ALERT OVERRIDES ***************************
.sweet-alert {
  font-family: 'Menlo'!important;
  .sa-button-container {
    padding-bottom: 20px;
    button {
      display: inline;
      font-size: 0.85em;
    }
  }
}

// *************************** BASE STYLES ***************************

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*:focus {
  outline: none;
}

.templateView {
  z-index: 100;
}

.flashes {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0px auto;
  list-style: none;
  color: $green;
  font-size: 1.25em;
}

.container {
  font-family: $menlo;
  width: 100%;
  padding: 0;

  .navbar {
    background: $white;
    border: none;
  }
  .navbar-default {
    .navbar-brand {
      color: $green;
      margin-top: -5px; 
      font-size: 1.7em;
      &:hover {
        color: $hover-green;
      }
      .brand-img {
        display: inline;
        width: 30px;
        margin-right: 5px; 
        margin-bottom: 16px;
      }
    }
  }
 
  // *************************** HOME STYLES ***************************
  .home-search {
    width: 80%;
    margin: 200px auto 0 auto;

    #search-field {
      width: 90%;
      padding: 15px;
      font-size: 2em;
      border-radius: 5px;
      border: 2px solid $light-gray;

      &:focus {
        border-color: $green;
      }
    
      @media screen and (max-width: 1240px) {
        width: 85%;
      }
      @media screen and (max-width: 990px) {
        width: 80%;
      }
      @media screen and (max-width: 700px) {
        width: 75%;
      }
      @media screen and (max-width: 560px) {
        width: 70%;
      }
      @media screen and (max-width: 440px) {
        width: 60%;
      }
    }
    #search-btn {
      padding: 22px 20px;
      float: right;
      font-size: 1.25em;
      border-width: 2px;
      border-radius: 5px;
      color: darken($light-gray, 20%);

      &:hover {
        border-color: $green;
        color: $green;
        background-color: white;
      }

      &:focus {
        outline: none;
        background-color: white;
        border-color: $light-gray;
      }
    }
    .search-result-wrapper {
      width: 60%;
      margin-top: 20px; 

      #no-plants-found {
          list-style: none;
          line-height: 2;
          font-size: 1.5em;
          color: tomato;
      }

      #search-results {
        padding-left: 2px;
        li {
          list-style: none;
          line-height: 1.5;
          font-size: 1.5em;
          a {
            color: $gray;
            &:hover {
              text-decoration: none;
              color: $green;
            }
          }
        }
      }
    }
  }
  // *************************** PLANT VIEW STYLES ***************************
  .plant-view-wrapper {
    width: 90%;
    margin: 80px auto;

    .icons {
      padding: 10px 5px;
    }

    .add_plant {
      margin-top: 15px;

      &:hover {
        border-color: $green;
        color: $green;
        background-color: white;
      }
    }

    .plant-img {
      max-width: 100%;
    }
    .plant-title-text {
      label {
        display: block;
      }
      input {
        margin-bottom: 5px;
      }
      .icons {
        img {
          width: 60px;
          margin-right: 10px;
        }
      }
    }
    #edit-img-url-field {
      margin-top: 20px;
    }
    .req-table {
      margin-top: 40px; 

      table {
        font-size: 1.15em;

        .table-head {
          font-weight: 700;
        }
      }
    }
    .edit-btn {
      cursor: pointer;
    }

    #submit-edit-btn {
      margin-left: 10px;
    }
    .plant-controls {
      .btn-default {
        padding: 2px 6px;
        color: darken($light-gray, 10%);
        text-decoration: none;
        font-size: 0.8em;

        &:hover:enabled {
          border-color: $green;
          color: $green;
          background-color: white;
        }
      }
    }
  }

  // *************************** USER VIEW STYLES ***************************
  .user-view-wrapper {
    width: 90%;
    margin: 80px auto;

    .user-img {
      max-width: 100%;
      border-radius: 50%;
    }
    .user-text {
      margin-left: 40px;
    }
    .user-controls {
      .btn-default {
        padding: 2px 6px;
        a {
          color: darken($light-gray, 10%);
          text-decoration: none;
          font-size: 0.8em;
        }
      }
    }
  }
  // *************************** FORM STYLES ***************************
  .new-page-title {
    margin-top: 120px; 
    text-align: center;
  }

  .new-plant-form {
    .plant-img-field {
      width: 58%;
      display: inline;
    }
    .flickr-img-link {
      display: inline;
      font-size: 11px;
    }
  }

  .new-plant-form,
  .register-form {
    margin-top: 80px;

    .form-validation {
      font-size: 11px;
      color: $red;
      text-align: center;
      a {
        color: $red;
        text-decoration: underline;
      }
    }

    input.ng-valid.ng-touched {
      border-color: $green;
    }

    input.ng-invalid.ng-touched {
      border-color: $red;
    }
  }
}

