.form-img-field {
  width: 58%;
  display: inline;
}

.plant-form-img__loader {
  display: inline-block;
  position: fixed;
  float: right;
  margin: 10px 0 0 25px;
}

.fa {
  color: $pink;
}

.user__icon {
  width: 50px;
}

.form-flickr-btn {
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px);
  display: inline;
  font-size: 11px;
  padding: 15px 10px 10px 10px;  
}

.form-horizontal {
  margin-top: 140px;
}

.form-control {
  height: 45px;
  border-color: lighten($blue, 20%);
}

.control-label {
  font-size: 1.2em;
  margin-top: 5px;
  color: $blue;
}

.form-submit,
.form-reset {
  @include pop-out-btn();
  padding: 12px 20px;
}

.form-validation {
  font-size: 11px;
  color: $pink;
  text-align: center;
  a {
    color: $pink;
    text-decoration: underline;
  }
}

form {
  input.ng-valid.ng-touched {
    border-color: $turquoise;
  }
  form input.ng-invalid.ng-touched {
    border-color: $pink;
  }
}


