.form-img-field {
  width: 58%;
  display: inline;
}

.plant-form-img__loader {
  display: inline-block;
  position: absolute;
  float: right;
  right: -8%;
  top: 25%;
}

.fa {
  color: $pink;
}

.user__icon {
  width: 50px;
}

.form-flickr-btn {
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px,
                       $color: $blue);
  display: inline;
  font-size: 11px;
  padding: 15px 10px 10px 10px;  
}

.form-flickr-btn[disabled],
.form-flickr-btn:active {
  background-color: lighten($blue, 15%) !important;
  border-color: lighten($blue, 5%) !important;
  cursor: default;
  color: $off-white !important;
}

.form-control {
  height: 45px;
  border-color: lighten($blue, 20%);
}

form .control-label {
  font-size: 1.2em;
  margin-top: 5px;
  color: $blue;
}

.form-submit,
.form-reset {
  margin-top: 10px;
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px,
                       $color: $blue);
  padding: 8px 12px;
}

.form-validation {
  font-size: 11px;
  color: $pink;
  text-align: center;
  a {
    color: $pink;
    text-decoration: underline;
  }
}

form {
  input.ng-valid.ng-touched {
    border-color: $turquoise;
  }
  form input.ng-invalid.ng-touched {
    border-color: $pink;
  }
}

.form__greeting {
  margin: 80px auto 40px auto;
  max-width: 45%;
  text-align: center;
  color: darken($gray, 10%);
  font-weight: 300;
}
