.plant__wrapper {
  width: 90%;
  margin: 80px auto;
}

.plant__img {
  max-width: 100%;
}

.icons {
  padding: 10px 5px;
}

.plant-icons__item {
  width: 60px;
  margin-right: 10px;
}

.plant__add,
.plant__remove {
  margin-top: 15px;
}

.plant-info__label {
  display: block;
}

.plant-info__field {
  margin-bottom: 10px;
}

.plant__table {
  margin-top: 40px;
  font-size: 1.15em;
}

.table-head {
  font-weight: 700;
}


