$menlo: 'Menlo', sans-serif;
$green: #7FD279;
$hover-green: #6BCC66;
$white: #FFF;
$gray: #A9A9A9;
$light-gray: #CCC;
$yellow: #f0ad4e;
$red: #d9534f;

// *************************** SWEET ALER OVERRIDES ***************************
.sweet-alert {
  font-family: 'Menlo'!important;
  .sa-button-container {
    padding-bottom: 20px;
    button {
      display: inline;
      font-size: 0.85em;
    }
  }
}
.container {
  font-family: $menlo;
  width: 100%;
  padding: 0;

// *************************** BASE STYLES ***************************
  .navbar {
    background: $white;
    border: none;
  }
  .navbar-default .navbar-brand {
    color: $green;
    font-size: 1.5em;
    &:hover {
      color: $hover-green;
    }
  }
  .flashes {
    width: 30%;
    margin: 0px auto;
    padding: 10px 0;
    text-align: center;
    list-style: none;
    color: $green;
    font-size: 1.25em;
    border: 1px solid $green;
    border-radius: 5px;
  }

  // *************************** HOME STYLES ***************************
  .home-search {
    width: 80%;
    margin: 260px auto 0 auto;

    #search-field {
      width: 90%;
      padding: 15px;
      font-size: 2em;
    }
    #search-btn {
      padding: 20px;
      margin-top: 5px; 
      float: right;
      font-size: 1.25em;
    }
    .search-result-wrapper {
      width: 60%;
      margin-top: 20px; 

      #search-results {
        padding-left: 2px;
        li {
          list-style: none;
          line-height: 2;
          font-size: 1.5em;
          color: tomato;
          a {
            color: $gray;
            &:hover {
              text-decoration: none;
              color: $green;
            }
          }
        }
      }
    } 
  }
  // *************************** PLANT VIEW STYLES ***************************
  .plant-view-wrapper {
    width: 90%;
    margin: 80px auto;

    .plant-img {
      max-width: 100%;
    }
    .plant-title-text {
      i {
        padding-right: 16px;
      }
    }
    #edit-img-url-field {
      margin-top: 20px;
    }
    .req-table {
      margin-top: 40px; 

      table {
        font-size: 1.15em;

        .table-head {
          font-weight: 700;
        }
      }
    }
    .edit-btn {
      cursor: pointer;
    }

    #submit-edit-btn {
      margin-left: 10px;
    }
    .plant-controls {
      .btn-default {
        padding: 2px 6px;
        a {
          color: darken($light-gray, 10%);
          text-decoration: none;
          font-size: 0.8em;
        }
      }
    }
  }
  // *************************** NEW PLANT FORM STYLES ***************************
  .new-plant-title {
    margin-top: 120px; 
    text-align: center;
  }
  .new-plant-form {
    margin-top: 60px; 
  }
}

