.home-search {
  width: 80%;
  margin: 240px auto 0 auto;

  @media screen and (max-width: 560px) {
    margin-top: 100px;
  }
}

.home-search-filters {
  margin: 140px auto 0 auto;
}

.home-search fieldset {
  margin-top: 15px;
}

.filters-btn {
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px,
                       $color: $pink);
  .fa {
    color: white;
  }

  .fa-sort-asc {
    margin-left: -5px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }
}

.filters legend {
  margin: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  color: darken($gray, 30%);
}

.filters__label {
  width: auto;
  text-align: center;
  padding: 6px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 400;
  @include pop-out-btn($color:$gray,
                       $border-bottom:5px,
                       $radius: 8px)
  color: darken($gray, 30%);

  &:hover {
    color: darken($gray, 30%);
  }
}

.filter__checked {
  @include pop-out-btn($color:$pink,
                       $border-bottom:5px,
                       $radius: 8px)
}

.filters__checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

.search-field {
  width: 90%;
  padding: 15px;
  font-size: 2em;
  border-radius: 5px;
  border: 3px solid $light-pink;
  margin-top: 10px;

  &::-webkit-input-placeholder {
    color: lighten($pink, 15%);
  }

  &::-moz-placeholder {
    color: lighten($pink, 15%);
  }

  &:focus {
    background-color: lighten($pink, 20%);
  }

  @media screen and (max-width: 1240px) {
    width: 85%;
  }

  @media screen and (max-width: 990px) {
    width: 80%;
  }

  @media screen and (max-width: 700px) {
    width: 75%;
  }

  @media screen and (max-width: 560px) {
    width: 100%;
    font-size: 1.2em;
  }
}

.search-btn {
  @include pop-out-btn($border-bottom: 6px,
                       $radius: 10px,
                       $color: $pink);
  padding: 22px 20px;
  float: right;
  font-size: 1.25em;
  margin-top: 10px;

  @media screen and (max-width: 560px) {
    float: none;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
  }
}

.search-result-wrapper {
  width: 60%;
  margin-top: 20px; 

  @media screen and (max-width: 520px) {
    width: 80%;
  }

  @media screen and (max-width: 320px) {
    width: 90%;
  }
}

.no-plants-found {
  list-style: none;
  line-height: 2;
  font-size: 1.5em;
  color: $pink;
}

.search-results {
  padding-left: 2px;
}   

.search-results__item {
  list-style: none;
  line-height: 1.5;
  font-size: 1.5em;

  @media screen and (max-width: 520px) {
    font-size: 18px;
  }

  @media screen and (max-width: 320px) {
    font-size: 16px;
  }
}

.search-results__link {
  color: $gray;

  &:hover {
    text-decoration: none;
    color: $blue;
  }
}



