.sorting-text {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.userplants__sort {
  padding-left: 40px;
}

.userplants-sort__btn {
  padding-right: 10px;
  outline: none !important;
  @include pop-out-btn($color:$pink,
                       $border-bottom:4px,
                       $radius: 6px);
}

.user__wrapper {
  width: 90%;
  margin: 60px auto;
}

.user__img {
  width: 40%;
}

.user-info__text {
  width: 40%;

}

.user-info__name {

  font-weight: 700;
  color: darken($gray, 5%);
}

.user-info__plants {  
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: $gray;
}

.userplant-count__emoji {
  font-size: 24px;
}

.btn__plant-details {
  @include pop-out-btn($color:$blue,
                       $border-bottom:4px,
                       $radius: 6px);
}

.btn__remove-reminder {
  @include pop-out-btn($color:$light-yellow,
                       $border-bottom:4px,
                       $radius: 6px);
  font-weight: 700;
  color: darken($light-yellow, 50%);
}

.btn__add-reminder {
  @include pop-out-btn($color:$turquoise,
                       $border-bottom:4px,
                       $radius: 6px);

}

.user-plants__thumb {
  max-height: 330px;
  overflow: scroll;
}

.user-plants__crop {
  max-height: 180px;
  overflow: hidden; 
}

.user-plants__img {
  @include crop-img();
}

