.user__wrapper {
  width: 90%;
  margin: 80px auto;
}

.user__img {
  max-width: 100%;
  border-radius: 50%;
}

.user__info {
  margin-left: 40px;
}

.user-plants__wrapper {
    
}

.user-plants__thumb {
    
}