.form__wrapper {
  @media screen and (max-width: 760px) {
    width: 90%;
    margin: 0 auto;
  }
}

.form-img-field {
  width: 58%;
  display: inline;
}

.plant-form-img__loader {
  display: inline-block;
  position: absolute;
  float: right;
  right: -8%;
  top: 25%;
}

.fa {
  color: $pink;
}

.form__legend {
  border: none;
  font-weight: 600;
  font-size: 1.1em;
}

.radio-image {
  display: inline-block;
}

.radio-image__image {
  margin: 0 8px;
}

.radio-image__image {
  width: 50px;
  opacity: 0.5;
}

.radio-image__input:enabled + .radio-image__image {
  cursor: pointer;
}

.radio-image__input:focus + .radio-image__image {
  opacity: .75;
}

.radio-image__input:checked + .radio-image__image {
  opacity: 1;
}

.form-flickr-btn {
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px,
                       $color: $blue);
  display: inline;
  font-size: 12px;
  padding: 15px 15px 10px 15px;
  width: 100%;
}

.form-flickr-btn[disabled],
.form-flickr-btn:active {
  background-color: lighten($blue, 15%) !important;
  border-color: lighten($blue, 5%) !important;
  cursor: default;
  color: $off-white !important;
}

.form-control {
  height: 45px;
  border-color: lighten($blue, 20%);
}

form .control-label {
  font-size: 1.2em;
  margin-top: 5px;
  color: $blue;
}

.form-submit,
.form-reset {
  margin-top: 10px;
  @include pop-out-btn($border-bottom: 4px,
                       $radius: 6px,
                       $color: $blue);
  padding: 8px 12px;
}

.form-validation {
  font-size: 11px;
  color: $pink;
  text-align: center;
  a {
    color: $pink;
    text-decoration: underline;
  }
}

form {
  input.ng-valid.ng-touched {
    border-color: $turquoise;
  }
  form input.ng-invalid.ng-touched {
    border-color: $pink;
  }
}

.form__greeting {
  padding-right: 15px;
  margin: 80px auto 40px auto;
  max-width: 45%;
  text-align: center;
  color: darken($gray, 10%);
  font-weight: 300;

  @media screen and (max-width: 760px) {
    max-width: 90%;
    padding: 0;
  }
}
