@mixin links($font-size: 1em) {
  color: $white;
  font-size: $font-size;
  cursor: pointer;
  &:hover {
    color: $light-yellow;
  }
}

@mixin pop-out-btn($color:$blue,
                   $border-bottom:5px,
                   $radius: 8px) {
  border: none;
  border-bottom: $border-bottom solid $color;
  color: $off-white;
  border-radius: $radius;
  background-color: lighten($color, 10%);

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($color, 15%) !important;
    border-color: lighten($color, 5%) !important;
    color: $off-white;
  }

  &:disabled:hover {
    background-color: lighten($color, 15%) !important;
    border-color: lighten($color, 5%) !important;
    cursor: default;
    color: $off-white !important;
  }
}

@mixin crop-img() {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
}

@mixin is-middle($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
