<div ng-controller='homeCtrl'>
  <span ng-init='filters.show = false'></span>
  <div ng-class="{ 'home-search-filters': filters.show }" class='home-search' >
    <button ng-if="!filters.show" ng-click="filters.show = true" class='btn btn-default filters-btn'>Show Filters
      <i class="fa fa-sort-asc fa-lg" aria-hidden="true"></i>
    </button>
    <button ng-if="filters.show" ng-click="filters.show = false" class='btn btn-default filters-btn'>Hide Filters
      <i class="fa fa-sort-desc fa-lg" aria-hidden="true"></i></button>
      <div ng-if='filters.show' class='filters' class='row'>

      <fieldset>

        <span class="col-sm-3">
          <legend>Water</legend>
          <span ng-repeat='spec in allWater'>
            <label ng-click="checkFilter($event)" class="col-sm-10 control-label filters__label">
              <input ng-click="applyFilter(spec['summary'], 'water')" class='filters__checkbox' type='checkbox' name='filter_water' value="[[ spec['summary'] ]]">
              [[ spec['summary'] ]]
            </label>
          </span>
        </span>

        <span class="col-sm-2">
          <legend>Sun</legend>
          <span ng-repeat='spec in allSun'>
            <label ng-click="checkFilter($event)" class="col-sm-10 control-label filters__label">
              <input ng-click="applyFilter(spec['summary'], 'sun')" type='checkbox' class='filters__checkbox' name='filter_sun' value="[[ spec['summary'] ]]">
              [[ spec['summary'] ]]
            </label>
          </span>
        </span>

        <span class="col-sm-3">
          <legend>Humidity</legend>
          <span ng-repeat='spec in allHumid'>
            <label ng-click="checkFilter($event)" class="col-sm-10 control-label filters__label">
              <input ng-click="applyFilter(spec['summary'], 'humid')" type='checkbox' class='filters__checkbox' name='filter_humid' value="[[ spec['summary'] ]]">
              [[ spec['summary'] ]]
            </label>
          </span>
        </span>

        <span class="col-sm-3">
          <legend>Temperature</legend>
          <span ng-repeat='spec in allTemp'>
            <label ng-click="checkFilter($event)" class="col-sm-10 control-label filters__label">
              <input ng-click="applyFilter(spec['summary'], 'temp')" type='checkbox' class='filters__checkbox' name='filter_temp' value="[[ spec['summary'] ]]">
              [[ spec['summary'] ]]
            </label>
          </span>
        </span>

      </fieldset>
    </div>

    <br><br>
    <input ng-model='searchText' ng-change="searchSubmit()" type='text' name='plant-name' class='search-field' placeholder='Enter plant name' autocomplete='off'>
    <button ng-click="searchSubmit()" type='submit' class='search-btn' id='search-btn' class='btn btn-default'>Search</button>

    <div class='search-result-wrapper'>
      <span ng-if="foundPlants === 'None'">
          <li class='no-plants-found' ng-cloak>No plants found <i class="fa fa-frown-o fa-lg" aria-hidden="true"></i></li>
      </span>
      <ul class="search-results" ng-repeat='plant in foundPlants'>
          <li class='search-results__item' ng-click='viewPlant()'><a class='search-results__link' ng-href='#/plant/[[ plant.id ]]' ng-cloak>[[ plant.name ]]</a></li>
      </ul>
    </div>
  </div>
</div>
