<div class='user__wrapper' ng-controller='userProfileCtrl'>
  
  <div class='row'>
    <div class='col-md-6 col-sm-6 user__info'>
      <img class='user__img col-md-3' ng-src='[[ user.image ]]'>
      <div class='user-info__text col-md-2'>
        <h3 class='user-info__name'>[[ user.first_name ]] [[ user.last_name ]]</h3>
        <h5 class='user-info__plants'>Owns [[ userPlantNum ]] plants<span class='userplant-count__emoji'>🌱<span></h5>
      </div>
    </div>

  </div> <!-- .row -->

  <br><br>
  <hr>
  <br><br>

  <div class='row user-plants'>
    <div class='user-plants__wrapper col-md-12 col-sm-12'>
      
      <div class='row'>
        <div class="col-sm-6 userplants__sort"> <!-- Sorting buttons -->
          <h4 class='sorting-text'>Sort by:</h4>
          <button class='btn btn-default userplants-sort__btn' ng-click="sortBy('name')">Name
            <i ng-show="reverse === false && propertyName === 'name'" class="fa fa-sort-desc fa-lg" aria-hidden="true"></i>
            <i ng-show="reverse === true && propertyName === 'name'" class="fa fa-sort-asc fa-lg" aria-hidden="true"></i>
          </button>
          <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
          
          <button class='btn btn-default userplants-sort__btn' ng-click="sortBy('species')">Species
            <i ng-show="reverse === false && propertyName === 'species'" class="fa fa-sort-desc fa-lg" aria-hidden="true"></i>
            <i ng-show="reverse === true && propertyName === 'species'" class="fa fa-sort-asc fa-lg" aria-hidden="true"></i>
          </button>
          <span class="sortorder" ng-show="propertyName === 'species'" ng-class="{reverse: reverse}"></span>
          
          <button class='btn btn-default userplants-sort__btn' ng-click="sortBy('reminder_status')">Reminder Status
          <span class="sortorder" ng-show="propertyName === 'reminder_status'" ng-class="{reverse: reverse}"></span>
            <i ng-show="reverse === false && propertyName === 'reminder_status'" class="fa fa-sort-desc fa-lg" aria-hidden="true"></i>
            <i ng-show="reverse === true && propertyName === 'reminder_status'" class="fa fa-sort-asc fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <br>
      <div ng-repeat="plant in userplants | orderBy:propertyName:reverse" class="col-sm-6 col-md-3">

        <div class="thumbnail user-plants__thumb">
          <div class="user-plants__crop">
            <img class='user-plants__img' ng-src="[[ plant.image ]]" alt='[[ plant.name ]]'>
          </div>
          <div class="caption user-plants__caption">
            <h4>[[ plant.name ]]</h4>
            <h5>[[ plant.species ]]<h5>

            <p><a href="#plant/[[ plant.plant_id ]]" class="btn btn-primary btn__plant-details" role="button">Details</a> 
            <a ng-disabled="user.phone == null" ng-if="plant.reminder_status == 'False'" ng-click="user.phone == null || addReminder(plant.plant_id)" class="btn btn-default btn__add-reminder" role="button">Add Reminder!</a>
             <a ng-if="plant.reminder_status == 'True'" ng-click="removeReminder(plant.plant_id)" class="btn btn-default btn__remove-reminder" role="button">Remove Reminder</a>
          </div>
        </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id='myModal' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a Reminder ⏲</h4>
        </div>
        <div class="modal-body">
          <p>Select the days you want to receive a text reminder:</p>
          <form class='reminder-form' name='form' novalidate>
            <div class='checkbox-wrapper'>
              <span ng-repeat='day in daysOfWeek'>
                <label ng-click='checkDay($event)' class='reminder-form__label'>
                  <input class='checkbox' ng-click="addDay(day)" type="checkbox">[[ day ]]
                </label>
              </span>
            </div>
            <div class="form-group modal-footer">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="form.$invalid" ng-click='submitReminder()' data-dismiss="modal" class="btn btn-default form-submit">Add Reminder</button>
                <button ng-disabled="form.$invalid" ng-click='cancelReminder()' data-dismiss="modal" class="btn btn-default form-submit">Cancel</button>
              </div>
            </div>
          </form>

        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div> <!-- .plant-view-wrapper -->
