.btn {
  font-size: 16px;
}

.sorting-text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: darken($gray, 30%);
}

.userplants__sort {
  padding-left: 40px;
}

.userplants-sort__btn {
  padding-right: 10px;
  outline: none !important;
  @include pop-out-btn($color:$pink,
                       $border-bottom:4px,
                       $radius: 6px);
}

.user__wrapper {
  width: 90%;
  margin: 60px auto;
}

.user__img {
  width: 30%;
}

.user-info__text {
  width: 40%;

}

.user-info__name {
  font-weight: 700;
  color: darken($gray, 5%);
}

.user-info__plants {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

.userplant-count__emoji {
  font-size: 24px;
}

.btn__plant-details {
  @include pop-out-btn($color:$blue,
                       $border-bottom:4px,
                       $radius: 6px);
}

.btn__remove-reminder {
  @include pop-out-btn($color:$gray,
                       $border-bottom:4px,
                       $radius: 6px);
  color: darken($gray, 30%);

  &:hover {
    color: darken($gray, 30%);
  }
}

.btn__add-reminder {
  @include pop-out-btn($color:darken($turquoise, 5%),
                       $border-bottom:4px,
                       $radius: 6px);
  color: $off-white;
}

.user-plants__thumb {
  height: 340px;
  overflow: hidden;
}

.user-plants__crop {
  max-height: 212px;
  overflow: hidden;
}

.checkbox-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 15px 0;
}

.reminder-form__label {
  text-align: center;
  padding: 6px 14px;
  cursor: pointer;
  font-weight: 400;
  @include pop-out-btn($color:$gray,
                       $border-bottom:5px,
                       $radius: 8px)
  color: darken($gray, 30%);

  &:hover {
    color: darken($gray, 30%);
  }
}

.day__checked {
  @include pop-out-btn($color:$pink,
                       $border-bottom:5px,
                       $radius: 8px)
}

.checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
