$menlo: 'Menlo', sans-serif;

$green: #7FD279;
$hover-green: #6BCC66;
$white: #FFF;
$light-gray: #CCC;
$yellow: #f0ad4e;
$red: #d9534f;
$turquoise: rgb(102, 225, 197);
$lightest-pink: #ffd7ea;
$light-pink: #ffb0d5;
$pink: rgb(237, 145, 197);
$dark-pink: #c782a2;
$light-yellow: rgb(255, 248, 154);
$blue: rgb(43, 45, 250);
$off-white: rgb(248, 247, 244);
$gray: rgb(186, 186, 183);