 <fieldset class='row' ng-controller='homeCtrl'>
  
  <legend>Water</legend>
  <span ng-repeat='spec in allWater' class="col-sm-3">
    <label class="col-sm-10 control-label">
      <input ng-click="applyFilter(spec['summary'], 'water')" type='checkbox' name='filter_water' value="[[ spec['summary'] ]]">
      [[ spec['summary'] ]]
    </label>
  </span>

  <legend>Sun</legend>
  <span ng-repeat='spec in allSun' class="col-sm-3">
    <label class="col-sm-10 control-label">
      <input ng-click="applyFilter(spec['summary'], 'sun')" type='checkbox' name='filter_sun' value="[[ spec['summary'] ]]">
      [[ spec['summary'] ]]
    </label>
  </span>

  <legend>Humidity</legend>
  <span ng-repeat='spec in allHumid' class="col-sm-3">
    <label class="col-sm-10 control-label">
      <input ng-click="applyFilter(spec['summary'], 'humid')" type='checkbox' name='filter_humid' value="[[ spec['summary'] ]]">
      [[ spec['summary'] ]]
    </label>
  </span>

  <legend>Temperature</legend>
  <span ng-repeat='spec in allTemp' class="col-sm-3">
    <label class="col-sm-10 control-label">
      <input ng-click="applyFilter(spec['summary'], 'temp')" type='checkbox' name='filter_temp' value="[[ spec['summary'] ]]">
      [[ spec['summary'] ]]
    </label>
  </span> 

</fieldset>
