<div class='plant__wrapper' ng-controller='viewPlantCtrl'>
  <div class='row'>
   <!-- Check if plant image exists in db -->
    <label ng-hide="plant.editing" class='plant-info__label'> 
    <img class='plant__img col-md-4 col-sm-12' src="[[ plant.image ]]" alt="[[ plant.name ]]">
    </label>
    <input placeholder='Image' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.image" class="plant-info__field form-control" type="text"/>

    <div class='col-md-4 col-sm-12 plant__info'>
      <label ng-hide="plant.editing" class='plant-info__label'>
        <h3 class='plant__name'>[[ plant.name ]]</h3>
      </label>
      <input placeholder='Name' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.name" class="plant-info__field form-control" type="text"/>

      <label ng-hide="plant.editing">
        <h5 class='plant__species'>[[ plant.species ]]</h5>
      </label>
      <input placeholder='Species' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.species" class="plant-info__field form-control" type="text"/>

      <div class='plant__icons'>
          <img ng-show="[[ allWater[plant.water].icon ]]" src='[[ allWater[plant.water].icon ]]' class='plant-icons__item'>
          <img ng-show="[[ allSun[plant.sun].icon ]]" src='[[ allSun[plant.sun].icon ]]' class='plant-icons__item'>
          <img ng-show="[[ allHumid[plant.humid].icon ]]" src='[[ allHumid[plant.humid].icon ]]'>
          <img ng-show="[[ allTemp[plant.temp].icon ]]" src='[[ allTemp[plant.temp].icon ]]' class='plant-icons__item'>
      </div>

      <!-- Add plant to User's dashboard -->
      <div ng-if='isLoggedIn()'>
        <a ng-click='addUserPlant()' ng-if='!plantUserStatus' class='btn btn-default plant__add' role='button' ng-cloak>Add Plant</a>
        <a ng-click='removeUserPlant()' ng-if='plantUserStatus' class='btn btn-danger plant__remove' role='button' ng-cloak>Remove Plant</a>
      </div>

    </div>

    <!-- delete and edit plant buttons -->
    <div ng-if='isLoggedIn()' class='controls col-offset-8 col-sm-4'>
      <button class='btn btn-default controls__edit' ng-disabled="plant.editing" ng-click="plant.editing = true">Edit</button>
      <button ng-click="saveEdits()" class='btn btn-default controls__save' ng-disabled="!plant.edited">Save</button>
      <button class='btn btn-default controls__delete' ng-click='deletePlant([[ plant.plant_id ]])'>Delete</button>
    </div>

  </div> <!-- .row -->

  <!-- TABLE -->
  <div class='row plant__table'>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td scope='row' class='table-head'>Water:</td>
            <label ng-hide="plant.editing" for="water_field" class="control-label">
              <td>
                <span ng-hide="plant.editing">[[ allWater[plant.water].summary ]]</span>
                <select id='water_field' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.water" class="select-field form-control" type="text"/>
                  <option></option>
                  <option ng-repeat='(key, value) in allWater'>[[ key ]]</option>
                </select>
              </td>
              <td class='col-sm-8'>[[ allWater[plant.water].description ]]</td>
            </label>
          </tr>
          <tr>
            <td scope='row' class='table-head'>Sun:</td>
            <label ng-hide="plant.editing" for="sun_field" class="control-label">
              <td>
                <span ng-hide="plant.editing">[[ allSun[plant.sun].summary ]]</span>
                <select id='sun_field' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.sun" class="select-field form-control" type="text"/>
                  <option></option>
                  <option ng-repeat='(key, value) in allSun'>[[ key ]]</option>
                </select>
              </td>
              <td class='col-sm-8'>[[ allSun[plant.sun].description ]]</td>
            </label>
          </tr>
          <tr>
          <td scope='row' class='table-head'>Humidity:</td>
            <label ng-hide="plant.editing" for="humid_field" class="control-label">
              <td>
                <span ng-hide="plant.editing">[[ allHumid[plant.humidity].summary ]]</span>
                <select id='humid_field' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.humidity" class="select-field form-control" type="text"/>
                  <option></option>
                  <option ng-repeat='(key, value) in allHumid'>[[ key ]]</option>
                </select>
              </td>
              <td class='col-sm-8'>[[ allHumid[plant.humidity].description ]]</td>
            </label>
          </tr>
          <tr>
            <td scope='row' class='table-head'>Temperature:</td>
            <label ng-hide="plant.editing" for="temp_field" class="control-label">
              <td>
                <span ng-hide="plant.editing">[[ allTemp[plant.temperature].summary ]]</span>
                <select id='temp_field' ng-change="plant.edited = true" ng-blur="plant.editing = false;" ng-show="plant.editing" ng-model="plant.temperature" class="select-field form-control" type="text"/>
                  <option></option>
                  <option ng-repeat='(key, value) in allTemp'>[[ key ]]</option>
                </select>
              </td>
              <td class='col-sm-8'>[[ allTemp[plant.temperature].description ]]</td>
            </label>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- .row -->
</div> <!-- .plant-view-wrapper -->
