<div ng-controller='addUserCtrl'>

  <form class='form-horizontal col-sm-offset-3 user-form' name='form' nonvalidate>

    <div class='form-group'>
      <label for="fname_field" class="col-sm-2 control-label">First name</label>
      <div class="col-sm-4">
        <input ng-model='user.fname' type="text" class="form-control form-field" id="fname_field" required>
      </div>
    </div>

    <div class='form-group'>
      <label for="lname_field" class="col-sm-2 control-label">Last name</label>
      <div class="col-sm-4">
        <input ng-model='user.lname' type="text" class="form-control" id="lname_field" name='lname_field'>
      </div>
    </div>

    <div class='form-group'>
      <label for="img_field" class="col-sm-2 control-label">Image URL</label>
      <div class="col-sm-4">
        <input ng-model='user.image' type="text" class="form-control" id="img_field" name='image' img-url>
        <span class='form-validation' ng-show="form.image.$error.imgUrl" ng-cloak>Image URL has to end in JPG or PNG</span>
      </div>
    </div>

    <div class='form-group'>
      <label for="username_field" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-4">
        <input ng-model='user.username' type="text" class="form-control" id="username_field" name='username' username required>
        <span class='form-validation' ng-show="form.username.$error.username" ng-cloak>This username has been taken :(</span>
      </div>
    </div>

    <div class='form-group'>
      <label for="email_field" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input ng-model='user.email' type="email" class="form-control" id="email_field" name='email' email required>
        <span class='form-validation' ng-show="form.email.$error.email" ng-cloak>
          This email is already in use. Maybe try <a ng-href='/login'>signing in</a>?
        </span>
      </div>
    </div>

    <div class='form-group'>
      <label for="phone_field" class="col-sm-2 control-label">Phone number</label>
      <div class="col-sm-4">
        <input ng-model='user.phone' type="text" class="form-control" id="phone_field" name='phone' placeholder='1234567890' phone required>
        <span class='form-validation' ng-show="form.phone.$error.phone" ng-cloak>
         This is not a valid phone number ¯\_(ツ)_/¯
        </span>
      </div>
    </div>
    
    <div class='form-group'>
      <label for="password_field" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input ng-model='user.password' type="password" class="form-control" id="password_field" name='password' required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-disabled="form.$invalid" ng-click="update(user)" class="btn btn-default form-submit">Register</button>
        <button ng-click='reset()' class="btn btn-default form-reset">Reset</button>
      </div>
    </div>
  </form>
</div>