<div class='home-search' ng-controller='homeCtrl'>
  <form>
    <input ng-model='searchText' ng-change='searchSubmit()' type='text' name='plant-name' id='search-field' placeholder='Enter plant name'>
    <button ng-click='searchSubmit()' type='submit' id='search-btn'>Search</button>
  </form>

  <div class='search-result-wrapper'>
    <span ng-if="foundPlants == ''">
        <li id='no-plants-found' ng-cloak>No plants found :(</li>
    </span>
    <ul id="search-results" ng-repeat='plant in foundPlants'>
        <li><a ng-href='#/plant/[[ plant.id ]]' ng-cloak>[[ plant.name ]]</a></li>
    </ul>
  </div>
</div>