<div ng-controller='userSettingsCtrl'>
  <h4 class='form__greeting'>Update fields below and enter your password to confirm changes ✍️</h4>
  <form class='form-horizontal col-sm-offset-2 settings-form' name='form' novalidate>
    
    <div class='form-group'>
      <label for="username_field" class="col-sm-3 control-label">✉️ Update email</label>
      <div class="col-sm-4">
        <input ng-model='updating.email' type="email" name='new_email' class="form-control" placeholder='[[ user.email ]]' email>
        <span class='form-validation' ng-show="form.new_email.$error.email" ng-cloak>
          This is your current email.
        </span>
      </div>
    </div>

    <div class='form-group'>
      <label for="phone_field" class="col-sm-3 control-label">📱 Update phone number</label>
      <div class="col-sm-4">
        <input ng-model='updating.phone' type="text" name='new_phone' class="form-control" placeholder='[[ user.phone ]]' phone>
        <span class='form-validation' ng-show="form.new_phone.$error.phone" ng-cloak>
         This is not a valid phone number ¯\_(ツ)_/¯
        </span>
      </div>
    </div>
    
    <div class='form-group'>
      <label for="password_field" class="col-sm-3 control-label">Confirm password</label>
      <div class="col-sm-4">
        <input ng-model='updating.password' type="password" class="form-control" id="password_field" required>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button ng-disabled="form.$invalid" ng-click='submitUserUpdate()' class="btn btn-default form-submit">Update</button>
      </div>
    </div>
    
  </form>
</div>