$menlo: 'Menlo', sans-serif;
$green: #7FD279;
$hover-green: #6BCC66;
$white: #fff;

.container {
  font-family: $menlo;
  width: 100%;
  padding: 0;

  .navbar {
    background: $white;
    border: none;
  }
  .navbar-default .navbar-brand {
      color: $green;
      font-size: 1.5em;

      &:hover {
        color: $hover-green;
      }
    }
  .home-search {
    width: 80%;
    margin: 200px auto 0 auto;

    #search-field {
      width: 90%;
      padding: 15px;
      font-size: 2em;
    }

    #search-btn {
      padding: 20px;
      margin-top: 5px; 
      float: right;
      font-size: 1.25em;
    }
    .search-result-wrapper {
      width: 60%;
      margin-top: 50px; 
      // margin: 50px auto;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          line-height: 1.5;
          a {
            font-size: 1.25em;
          }
        }
      }
    } 
  }
}

