.container {
  font-family: 'Menlo', sans-serif;
  width: 100%;
  padding: 0; }
  .container .navbar {
    background: #fff;
    border: none; }
    .container .navbar-default .navbar-brand {
      color: #7FD279;
      font-size: 1.5em; }
      .container .navbar-default .navbar-brand:hover {
        color: #6BCC66; }
