.container {
  font-family: 'Menlo', sans-serif;
  width: 100%;
  padding: 0; }
  .container .navbar {
    background: #FFF;
    border: none; }
    .container .navbar-default .navbar-brand {
      color: #7FD279;
      font-size: 1.5em; }
      .container .navbar-default .navbar-brand:hover {
        color: #6BCC66; }
  .container .home-search {
    width: 80%;
    margin: 260px auto 0 auto; }
    .container .home-search #search-field {
      width: 90%;
      padding: 15px;
      font-size: 2em; }
      .container .home-search #search-btn {
        padding: 20px;
        margin-top: 5px;
        float: right;
        font-size: 1.25em; }
        .container .home-search .search-result-wrapper {
          width: 60%;
          margin-top: 20px; }
          .container .home-search .search-result-wrapper #search-results {
            padding-left: 2px; }
            .container .home-search .search-result-wrapper #search-results li {
              list-style: none;
              line-height: 2;
              font-size: 1.5em;
              color: tomato; }
              .container .home-search .search-result-wrapper #search-results li a {
                color: #A9A9A9; }
                .container .home-search .search-result-wrapper #search-results li a:hover {
                  text-decoration: none;
                  color: #7FD279; }
  .container .plant-view-wrapper {
    width: 90%;
    margin: 80px auto; }
    .container .plant-view-wrapper .plant-img {
      max-width: 100%; }
      .container .plant-view-wrapper .plant-title-text i {
        padding-right: 16px; }
    .container .plant-view-wrapper .req-table {
      margin-top: 80px; }
      .container .plant-view-wrapper .req-table table {
        font-size: 1.15em; }
        .container .plant-view-wrapper .req-table table .table-head {
          font-weight: 700; }
    .container .plant-view-wrapper .edit-btn {
      cursor: pointer; }
  .container .new-plant-title {
    margin-top: 120px;
    text-align: center; }
    .container .new-plant-form {
      margin-top: 60px; }
