.container {
  font-family: 'Menlo', sans-serif;
  width: 100%;
  padding: 0; }
  .container .navbar {
    background: #fff;
    border: none; }
    .container .navbar-default .navbar-brand {
      color: #7FD279;
      font-size: 1.5em; }
      .container .navbar-default .navbar-brand:hover {
        color: #6BCC66; }
  .container .home-search {
    width: 80%;
    margin: 200px auto 0 auto; }
    .container .home-search #search-field {
      width: 90%;
      padding: 15px;
      font-size: 2em; }
      .container .home-search #search-btn {
        padding: 20px;
        margin-top: 5px;
        float: right;
        font-size: 1.25em; }
        .container .home-search .search-result-wrapper {
          width: 60%;
          margin-top: 50px; }
          .container .home-search .search-result-wrapper ul {
            padding: 0;
            margin: 0; }
            .container .home-search .search-result-wrapper ul li {
              list-style: none;
              line-height: 1.5; }
              .container .home-search .search-result-wrapper ul li a {
                font-size: 1.25em; }
