<!doctype html>
<html>
<head>
  <title>planty</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/dist/app.css'>

</head>
<body ng-app='planty'>

  <div ng-controller='userCtrl' class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-href="#/"><img class='brand-img' ng-src='/static/img/_planty.svg'>Planty</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav nav-pills navbar-right">

            <li ng-show="isLoggedIn()" ng-cloak><a ng-class="getClass('/add_plant')" ng-href="#add_plant">Add Plant</a></li>
            <li ng-show="isLoggedIn()" role="presentation" class="dropdown" ng-cloak>
              <a ng-click='getProfileImg()' ng-class="getClass('/user')" class="dropdown-toggle" data-toggle="dropdown" ng-href="" role="button" aria-haspopup="true" aria-expanded="false">
                Account<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ng-href='#user/[[ isLoggedIn() ]]'>
                  <div class='user-menu-img__crop'>
                    <img class='user-menu__img' ng-src='[[ profilePic ]]'>
                  </div>
                  <br>View Profile
                </a></li>
                <li><a ng-href='#user/settings/[[ isLoggedIn() ]]'>Settings</a></li>
                <li><a ng-href='' ng-click="logout()">Logout</a></li>
              </ul>
            </li>

            <li ng-show="!isLoggedIn()" ng-cloak><a ng-class="getClass('/login')" ng-href="#login">Login</a></li>
            <li ng-show="!isLoggedIn()" ng-cloak><a ng-class="getClass('/register')" ng-href="#register">Register</a></li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <div class='row'>
      <div role='status' class='flash'></div>
    </div>

    <div class='templateView' ng-view></div>

  </div><!-- /.container -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/4bf6806d57.js"></script>
  
  <script src='/static/dist/app.js'></script>
  <script src='/static/js/validations.js'></script>
  
</body>
</html>


<!-- *** CREDITS *** -->
<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>