{% extends 'base.html' %}
{% set active_page = "new_plant" %}
{% block title %}New Plant{% endblock %}

{% block content %}
  <div ng-controller='addPlantCtrl'>
    <form class='form-horizontal col-sm-offset-3 new-plant-form' name='form' novalidate>

      <div class='form-group'>
        <label for="name_field" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4 test">
          <input ng-model='plant.name' type="text" class="form-control" id="name_field" name='name' plant-name required>
          <span class='form-validation' ng-show="form.name.$error.plantName" ng-cloak>This plant already exists!</span>
        </div>
      </div>

      <div class='form-group'>
        <label for="species_field" class="col-sm-2 control-label">Species</label>
        <div class="col-sm-4">
          <input ng-model='plant.species' type="text" class="form-control" id="species_field">
        </div>
      </div>

      <div class='form-group'>
        <label for="image_field" class="col-sm-2 control-label">Image URL</label>
        <div class="col-sm-4">
          <input ng-model='plant.image' type="text" class="form-control plant-img-field" id="image_field" name='image' img-url>
          <a ng-disabled="form.name.$invalid" ng-click='getFlickrImg()' class='flickr-img-link btn btn-default'>Get Flickr image</a>
          <span class='form-validation' ng-show="form.image.$error.imgUrl" ng-cloak>Image URL has to end in JPG or PNG</span>
        </div>
      </div>

      <div class='form-group'>
        <label for="water_field" class="col-sm-2 control-label">Water</label>
        <div class="col-sm-4">
          <select ng-model='plant.water' class='form-control' id='water_field'>
            <option></option>
            <option ng-repeat='(key, value) in water'>[[ key ]]</option>
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for="sun_field" class="col-sm-2 control-label">Sun</label>
        <div class="col-sm-4">
          <select ng-model='plant.sun' class='form-control' id='sun_field'>
            <option></option>
            <option ng-repeat='(key, value) in _sun'>[[ key ]]</option>
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for="humidity_field" class="col-sm-2 control-label">Humidity</label>
        <div class="col-sm-4">
          <select ng-model='plant.humidity' class='form-control' id='humidity_field'>
            <option></option>
            <option ng-repeat='(key, value) in humidity'>[[ key ]]</option>
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for="temp_field" class="col-sm-2 control-label">Temperature</label>
        <div class="col-sm-4">
          <select ng-model='plant.temp' class='form-control' id='temp_field'>
            <option></option>
            <option ng-repeat='(key, value) in temp'>[[ key ]]</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-disabled="form.$invalid" ng-click="update(plant)" class="btn btn-default">Add Plant</button>
          <button ng-click='reset()' class="btn btn-default">Reset</button>
        </div>
      </div>
    </form>

  </div> <!-- controller end -->
{% endblock %}