{% extends 'base.html' %}
{% block title %}{{ plant_name }}{% endblock %}
{% set active_page = "plant" %}

{% block content %}

<div class='plant-view-wrapper'>
  <div class='row'>

    <!-- Check if plant image exists in db -->
    {% if plant_img %}
      <img class='plant-img col-md-4 col-sm-12' src='{{ plant_img }}'>
    {% else %}
      <a data-column='image' data-plant='{{ plant_id }}' class='edit-btn' title='Add image URL'><img class='plant-img col-md-4 col-sm-12' src="/static/img/placeholder-image.png"></a>
    {% endif %}

    <div class='plant-title-text col-md-4 col-sm-12'>
      <h3>{{ plant_name }}</h3>
      <!-- Check if species exists in db -->
      {% if plant_species %}
        <h5>{{ plant_species }}</h5>
      {% else %}
        <h5 data-new='species'><a data-plant='{{ plant_id }}' data-column='species' class='edit-btn'>Add Species</a></h5>
      {% endif %}
        <br>
        <div class='icons'>
          {% if water_icon %}
            <img src='{{ water_icon }}'>
          {% endif %}
          {% if sun_icon %}
            <img src='{{ sun_icon }}'>
          {% endif %}
          {% if humidity_icon %}
            <img src='{{ humidity_icon }}'>
          {% endif %}
          {% if temp_icon %}
            <img src='{{ temp_icon }}'>
          {% endif %}
        </div>
      <!-- <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i> -->
    </div>
    <!-- delete and edit plant buttons -->
    <div class='plant-controls col-offset-8 col-sm-4'>
      <button class='btn btn-default edit-control' data-plant='{{ plant_id }}'><a href='/update_plant/{{ plant_id }}'>Edit</a></button>
      <button class='btn btn-default delete-control' data-plant='{{ plant_id }}'><a>Delete</a></button>
    </div>
  </div> <!-- .row -->

  <div class='row' id='edit-img-url-field'></div> <!-- empty div for image url field -->
  
  <!-- TABLE -->
  <div class='row req-table'>
    <div class="table-responsive col-sm-10">
      <table class="table">
        <tr>
          <td class='table-head'>Water:</td>
          <!-- Check if water specs exist in db -->
          {% if water %}
            <td>{{ water }}</td>
          {% else %}
            <td data-new='water'><a data-plant='{{ plant_id }}' data-column='water' class='edit-btn'>Add water specifications</a></td>
          {% endif %}
        </tr>
        <tr>
          <td class='table-head'>Sun:</td>
          <!-- Check if sun specs exist in db -->
          {% if sun %}
            <td>{{ sun }}</td>
          {% else %}
            <td data-new='sun'><a data-plant='{{ plant_id }}' data-column='sun' class='edit-btn'>Add sun specifications</a></td>
          {% endif %}
        </tr>
        <tr>
          <td class='table-head'>Humidity:</td>
          <!-- Check if water specs exist in db -->
          {% if humidity %}
            <td>{{ humidity }}</td>
          {% else %}
            <td data-new='humidity'><a data-plant='{{ plant_id }}' data-column='humidity' class='edit-btn'>Add humidity specifications</a></td>
          {% endif %}
        </tr>
        <tr>
          <td class='table-head'>Temperature:</td>
          <!-- Check if temp specs exist in db -->
          {% if temp %}
            <td>{{ temp }}</td>
          {% else %}
            <td data-new='temperature'><a data-plant='{{ plant_id }}' data-column='temperature' class='edit-btn'>Add temperature specifications</a></td>
          {% endif %}
        </tr>
      </table>
    </div>
  </div> <!-- .row -->
</div> <!-- .plant-view-wrapper -->


{% endblock %}