{% extends 'base.html' %}
{% block title %}{{ plant_name }}{% endblock %}

{% block content %}

<div class='plant-view-wrapper row'>
    <img class='plant-img col-md-4 col-sm-12' src="/static/img/placeholder-image.png">
    <div class='plant-title-text col-md-4 col-sm-12'>
      <h3>{{ plant_name }}</h3>
      <h5>{{ plant_species }}</h5><br>
      <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
<!--       <i class="fa fa-tint" aria-hidden="true"></i>
 -->    </div>
  </div>
</div>

{% endblock %}