{% extends 'base.html' %}
{% set active_page = "user_profile" %}
{% block title %}{{ user.first_name }}{% endblock %}

{% block content %}

<div class='user-view-wrapper'>
  <div class='row'>
    <img class='user-img col-md-2 col-sm-12' src='{{ img }}'>
    
    <div class='user-text col-md-4 col-sm-12'>
      {% if user.first_name %}
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      {% else %}
        <h3>{{ user.username }}</h3>
      {% endif %}
      <h5>You own <a href="/user_plants/{{ user.user_id }}">{{ user.plants|length }}</a> plants.</h5>
    </div>
    <!-- delete and edit plant buttons -->
    <div class='user-controls col-offset-8 col-sm-4'>
      <button class='btn btn-default edit-control'><a href='/update_profile/{{ user.user_id }}'>Edit</a></button>
    </div>
  </div> <!-- .row -->

  <!-- TABLE -->
  <div class='row req-table'>
  </div>
  </div> <!-- .row -->
</div> <!-- .plant-view-wrapper -->


{% endblock %}